@use "../custom" as *;
@use "../components" as *;

.menu {
  @include gradient;

  li {
    padding: 0 0.75rem;

    a {
      font-weight: 500;
      padding: 0.5rem 0.75rem;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 1.2rem;

    li {
      padding: 0 0;

      a {
        width: max-content;
        padding: 0.5rem 0;
        margin: 0 auto;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .btn-rounded {
      display: none;
    }
  }
}