@use "../custom" as *;
@use "../components/mixins" as *;

.display-2 {
  margin-bottom: 1rem;

  &--intro {
    font-weight: 700;
    display: inline-block;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1.2rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
    }
  }
}

.heading-line {
  width: max-content;
  margin-left: auto;
  margin-right: auto;

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    width: 100%;
    height: 0.1rem;
    background-color: $secondary;

    left: 0;
    bottom: -1.2rem;
  }

  &::after {
    width: 45%;
    height: 0.3rem;
    background-color: $primary;
    border-radius: 0.3rem 0.3rem 0 0;
    left: 50%;
    bottom: -1.2rem;
    transform: translateX(-50%);
  }
}

.display-5 {
  &--title {
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-block;

    @include gradientText;
  }
}

.heading-line-single {
  width: max-content;
  margin-left: auto;
  margin-right: auto;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 0.1rem;
    background-color: $gray-400;

    left: 50%;
    bottom: -1.2rem;
    transform: translateX(-50%);
  }
}

.gradient {
  background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

.footer__company-name {
  font-size: 1.5rem;
}